div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input{
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.btn-group{
    display: flex;
    justify-content: flex-start;
}

button{
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
}