@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-link{
    font-weight: 700;
    padding: 0 20px !important;
}

.link-primary{
    color: #F47522 !important;
}

.profile{
    padding: 100px;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-image: url("/assets/images/bg-img.png");
    background-size: cover;
}

.profile-img {
    width: 30vw;
    max-width: 100%;
    min-width: 30vw;
    height: 40%;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img img{
    width: auto;
    height: 100%;
}

.profile-text{
    padding: 0 35px;
    color: #19345E;
}

.profile-text p{
    font-size: 25px;
    font-weight: 500;
}

.profile-text h1{
    font-size: 85px;
    font-weight: 700;
    padding-bottom: 21px;
}

.profile-text h2{
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 35px;
}

button{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 27px;
    color: white;
    background: #F47522;
    border-radius: 20px;
    border-style: none;
}

/* --------------------------------------------------- */

.contact-wrap{
    background: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
}

.img-banner{
    background-image: url("/assets/images/charles-rRWiVQzLm7k-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 35%;
}

.layer {
    background-color: rgba(25, 52, 94, .65);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner img{
    max-width: 100%;
}

.forms{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 80%;
}

label, input, select, textarea{
    display: block;
    width: 100%;
}

span{
    color: red;
}

label{
    font-size: 20px;
    font-weight: 400;
}
/* 
input, select, textarea{
    margin-bottom: 16px;
} */

form h1{
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 767.98px) {
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .profile-img{
        width: 20px;
    }
    
    .contact-wrap{
        flex-direction: column;
    }

    .img-banner{
        width: 100vw;
    }

    .forms{
        margin-top: 30px;
        width: 100%;
        min-width: 200px;
    }
}

/* --------------------------------------------------- */

.centered-box{
    position: absolute;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    z-index: 1031;
}

.information{
    background-color: #fff;
    height: 80%;
    width: 60%;
    max-width: 100%;
    padding: 20px 40px;
    margin: auto;
    border: solid 1px rgb(192, 192, 192);
    border-radius: 5px;
}

.information div, .information hr{
    margin: 20px auto;
}

.information table{
    width: 100%;
}

.information .table_head{
    width: 30%;
    font-weight: normal;
}

.information span{
    color: black;
}

.information td p{
    display: inline;
}

.information hr{
    width: 20%;
}

.information .hi_text{
    min-height: 150px;
}

.information .thanks_text{
    font-size: 20px;
}

.back-box{
    height: 30%;
    background: #EDF6FF;
}

.img-box{
    padding-left: 15%;
    height: 60%;
}