li{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

li div{
    display: flex;
    align-items: center;
}

button{
    color: white;
    padding: 5px 10px;
    background: #ff3c3c;
    border: none;
    border-radius: 20px;
}