.capsule{
    background: #fff;
    border: solid 2px black;
    border-radius: 50px;
    width: fit-content;
    min-width: 100px;
    margin: 20px;
    padding: 10px 20px;
    display: block;
    text-align: center;
}

.textDone{
    margin: 0;
    text-decoration: line-through;
}

.textUndone{
    margin: 0;
    text-decoration: none;
}