.navside-container{
    background: rgb(0, 140, 150);
    width: 200px;
    height: 100vh;
    position: absolute;
    float: left;
    display: flex;
}

.navlink-home{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navside-container span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

