.errPage{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errPage img{
    width: 20%;
}

.errPage button{
    padding: 10px 20px;
    background: none;
    text-decoration: none;
}